extends layout

block content
  h1.title= title
  div.container
    div.chat
      each val in messages 
        div.message
          div.msg-info   
            h3.user=val.user
            h6.date=val.date
          p.msg-text=val.text


    button.msg-btn 
      a(href="/new") New Message

